.blogs_container {
    .video_container {
        min-width: 100vw;
        width: 100%;
        height: 80vh;
        overflow: hidden;

        .video {
            object-fit: cover;
            width: 100%;
            height: calc(80vh);
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 600px;

        @media (max-width: 768px) {
            min-width: unset;
            width: 100%;
            padding: 0 30px;
        }

        h1,
        h3,
        p {
            font-family: "Poppins", sans-serif;
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 5px;

            @media (max-width: 768px) {
                font-size: 50px;
            }

            @media (max-width: 580px) {
                font-size: 40px;
            }

            @media (max-width: 500px) {
                font-size: 35px;
            }
        }

        h3 {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                font-size: 24px;
            }

            @media (max-width: 500px) {
                font-size: 22px;
            }
        }

        p {
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 16px;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 500px) {
                font-size: 12px;
            }
        }
    }

    .blogs_details {
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        @media only screen and (max-width: 600px) {
            padding: 60px 15px;

        }

        h3 {
            font-family: Poppins;
            font-size: 38px;
            font-weight: 600;
            line-height: 48px;
            text-align: left;

            @media only screen and (max-width: 600px) {
                font-size: 30px;

            }

            div {
                display: inline-block;
                padding: 0 8px;
                width: min-content;
                transform: skew(-14deg);
                background: #DAB289;
                border-radius: 10px;

                span {
                    display: inline-block;
                    transform: skew(14deg);

                }
            }

        }

        p {
            font-family: Plus Jakarta Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: -0.01em;
            text-align: center;
            margin-top: 25px;

            @media only screen and (max-width: 600px) {
                line-height: 26px;

            }
        }

        .card_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            margin-top: 30px;

            @media only screen and (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);

            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);

            }

            .card {
                padding: 20px;
                transition: all .5s ease-in-out;
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.171);
                    
                    img{
                        transform: scale(1.02);
                    }
                }
                
                img {
                    transition: transform .3s ease-in-out;
                    width: 100%;
                }

                h5 {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                    line-height: unset;
                    margin-top: 8px;
                }

                h6 {
                    font-family: Plus Jakarta Sans;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: unset;
                    text-align: left;
                    margin-top: 8px;
                    color: #6C3E24;
                }

                p {
                    font-family: Plus Jakarta Sans;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: left;
                    margin: unset;
                    line-height: unset;
                    margin-top: 8px;
                }
            }
        }
    }
}