.consult_container {
    margin-top: 50px;

    h3 {
        text-align: center;
        font-family: Poppins;
        font-size: 70px;
        font-weight: 800;
        line-height: 135px;
        color: #38261C;

        span {
            margin: 0 30px;

            @media only screen and (max-width: 550px) {
                margin: 0 10px;

            }

            img {
                width: 26px;

                @media only screen and (max-width: 550px) {
                    width: 12px;

                }
            }
        }

        @media only screen and (max-width: 1250px) {
            font-size: 50px;
        }

        @media only screen and (max-width: 1000px) {
            font-size: 45px;
            line-height: 80px;
        }

        @media only screen and (max-width: 900px) {
            font-size: 35px;
            line-height: 80px;
        }

        @media only screen and (max-width: 775px) {
            font-size: 30px;
            line-height: 60px;
        }

        @media only screen and (max-width: 550px) {
            font-size: 22px;
            line-height: 40px;
        }
    }

    .undeline_container {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 20px;
        padding: 0px 60px;

        @media only screen and (max-width: 900px) {
            padding: 0px 30px;

        }

        @media (max-width: 991px) {
            flex-wrap: wrap;
        }

        .left_underline {
            background: #38261c;
            align-self: stretch;
            height: 4px;
            flex: 1;
            margin: auto 0;
            border: 2.5px solid rgba(56, 38, 28, 1);

            @media only screen and (max-width: 550px) {
                border: 1.5px solid rgba(56, 38, 28, 1);
            }

        }

        img {
            aspect-ratio: 1;
            object-fit: auto;
            object-position: center;
            width: 32px;
            fill: #38261c;
            align-self: stretch;
            margin-top: 5px;

            @media only screen and (max-width: 550px) {
                width: 16px;
            }
        }

        .right_underline {
            background-color: #38261c;
            align-self: stretch;
            height: 4px;
            flex: 1;
            margin: auto 0;
            border: 2.5px solid rgba(56, 38, 28, 1);

            @media only screen and (max-width: 550px) {
                border: 1.5px solid rgba(56, 38, 28, 1);
            }
        }
    }

    .form_container {
        background-color: #8E8D79;
        margin: 55px 100px;
        border-radius: 20px;
        padding: 46px 48px;
        display: flex;
        align-items: center;


        @media only screen and (max-width: 1100px) {
            flex-direction: column;
            padding: 46px;
        }

        @media only screen and (max-width: 750px) {
            margin: 55px;
        }

        @media only screen and (max-width: 550px) {
            margin: 35px;
        }

        .avatar_container {
            display: flex;
            align-items: center;
            flex: 1;

            img {
                width: 180px;
                height: 180px;
                object-fit: contain;
            }
        }

        .form {
            margin-left: 58px;
            display: flex;
            flex-direction: column;
            flex: 14;

            @media only screen and (max-width: 1100px) {
                margin-left: 0;
            }

            h3 {
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                line-height: 72px;
                text-align: unset;
                color: #FFFFFF;
                margin: 0;

                @media only screen and (max-width: 1100px) {
                    text-align: center;
                }

            }

            p {
                font-family: Plus Jakarta Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
                color: #FFFFFF;
            }

            .form_group {
                display: flex;
                width: 100%;
                gap: 25px;

                @media only screen and (max-width: 900px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .input_group {

                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    label {
                        font-family: Plus Jakarta Sans;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        color: #FFFFFF;

                    }

                    input {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #D9D8C5;
                        color: #FFFFFF;
                        width: 100%;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                button {
                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: left;
                    text-wrap: nowrap;

                    background: #DAB289;
                    border-radius: 30px;
                    padding: 6px 46px;
                    border: none;
                    color: #FFFFFF;
                    margin-left: 30px;

                    @media only screen and (max-width: 900px) {
                        padding: 10px 26px;

                    }

                    @media only screen and (max-width: 1100px) {
                        margin-left: 0;
                        width: max-content;
                        text-align: center;
                    }

                }
            }
        }
    }
}