.services_container {
  .video_container {
    min-width: 100vw;
    width: 100%;
    height: calc(80vh);
    overflow: hidden;

    .video {
      object-fit: cover;
      width: 100%;
      height: calc(80vh);
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;

    @media (max-width: 768px) {
      min-width: unset;
      width: 100%;
      padding: 0 30px;
    }

    h1,
    h3,
    p {
      font-family: "Poppins", sans-serif;
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 5px;

      @media (max-width: 768px) {
        font-size: 50px;
      }

      @media (max-width: 580px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 35px;
      }
    }

    h3 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 500px) {
        font-size: 22px;
      }
    }

    p {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
}

.our_solutions_container {
  position: relative;

  .side_header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    background-color: #DE8D60;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 100;
    padding: 30px 20px;

    font-size: 16px;
    color: #fff;
    font-weight: 300;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .our_solutions {
    display: block;
    position: relative;
    background: transparent;
    // clip-path: polygon(100% 0%, 100% 98%, 0 100%, 0% 2%);
    padding: 130px;
    padding-bottom: 80px;
    padding-top: 100px;
    overflow: hidden;

    @media only screen and (max-width: 1250px) {
      padding: 100px 60px;
      padding-bottom: 60px;
      padding-top: 100px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 100px 30px 40px 30px;
      // padding-top: 100px;
    }


    h3 {
      padding-top: 100px;
      font-family: Poppins;
      color: #000000;
      font-size: 38px;
      font-weight: 600;
      line-height: 56px;
      text-align: center;

      @media only screen and (max-width: 500px) {
        font-size: 32px;
      }

      div {
        display: inline-block;
        background: #DAB289;
        transform: skew(-20deg);
        font-style: normal;
        padding: 0px 10px;
        border-radius: 14px;

        span {
          display: inline-block;
          transform: skew(20deg);
        }
      }
    }

    .our_solutions_description {
      margin-top: 12px;
      margin-bottom: 28px;
      font-family: Plus Jakarta Sans;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 34px;
      letter-spacing: -0.01em;
      text-align: center;

    }

    .card_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      z-index: 100;
      padding-bottom: 15px;

      .card {
        padding: 20px 30px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        background-color: #B1977C;
        border-radius: 35px;
        padding-top: 30px;
        padding-bottom: 30px;
        cursor: pointer;
        transition: all 0.7s ease-in-out;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.599);
        }

        @media only screen and (max-width: 1250px) {
          gap: 5px;
        }

        h5 {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: #fff;

          span {
            color: #3E3E3E;
            font-family: Poppins;
            font-weight: 700;
            text-align: left;

          }
        }

        img {
          width: 100%;
          transition: transform 0.7s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }

        h6 {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #fff;

          @media only screen and (max-width: 1200px) {
            margin-top: 10px;
          }




        }

        p {
          font-family: Plus Jakarta Sans;
          font-size: 14px;
          font-weight: 300;
          text-align: left;
          color: #fff;

        }
      }
    }
  }
}